<h1> Welcome to Sweater Weather! </h1>
<p> As this is a back-end only project, please click the link below to see the read-me and how to access this API via Postman. </p>
<%= https://github.com/Wyattwicks/sweater_weather#readme %>