---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<WEATHER_KEY>&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1623828885,"sunrise":1623843090,"sunset":1623897001,"temp":73.92,"feels_like":72.66,"pressure":1013,"humidity":35,"dew_point":44.58,"uvi":0,"clouds":26,"visibility":10000,"wind_speed":1.01,"wind_deg":150,"wind_gust":3,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1623826800,"temp":75.06,"feels_like":73.76,"pressure":1013,"humidity":32,"dew_point":43.23,"uvi":0,"clouds":22,"visibility":10000,"wind_speed":6.73,"wind_deg":195,"wind_gust":10.67,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1623830400,"temp":73.92,"feels_like":72.66,"pressure":1013,"humidity":35,"dew_point":44.58,"uvi":0,"clouds":26,"visibility":10000,"wind_speed":6.78,"wind_deg":209,"wind_gust":12.17,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1623834000,"temp":74.55,"feels_like":73.17,"pressure":1013,"humidity":31,"dew_point":41.97,"uvi":0,"clouds":28,"visibility":10000,"wind_speed":4.83,"wind_deg":221,"wind_gust":7.11,"weather":[{"id":802,"[...]
